*,*::before,*::after {
    box-sizing: border-box;
}
img {
    vertical-align: middle;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1{
    font-size: 80px;
    line-height: 106px;
    font-weight: 900;
}
h2{
    font-size: 64px;
    line-height: 84px;
    font-weight: 500;
    font-style: italic;
}
h3{
    font-size: 24px;
    line-height: 36px;
}
p{
    font-size: 24px;
    line-height: 42px;
}
.f-bold{
    font-weight: bold ;
}
.fz-20{
    font-size: 20px;
}
.lh-30{
    line-height: 30px;
}
.lh-36{
    line-height: 36px;
}
.pb-4{
    padding-bottom: 4px;
}
.pb-8{
    padding-bottom: 8px;
}
.pb-24{
    padding-bottom: 24px;
}
.pb-28{
    padding-bottom: 28px;
}
.pl-204{
    padding-left: 204px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* banner */
.banner{
    color: #FFFFFF;
    font-style: italic;
    height: 100vh;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
}
.banner .content{
    padding: 32px 0px 40px 0px;
}
.icon{
    display: flex;
    justify-content: space-between;
}
/* about */
.about{
    font-style: italic;
    /* outline: 1px solid red; */
    margin-top: 56px;
}
.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.aboutContent h2{
    padding-bottom: 40px;
}
.aboutContent img{
    padding-bottom: 20px;
}
.aboutExperience{
    width: 384px;
    padding-top: 28px;
    border-top: 1px solid #000;
}
.aboutExperience li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutExperience li::before{
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #891818;
    display: inline-block;
    margin-right: 16px;
}
.brand{
    color: #FFFFFF;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
    text-align: center;
    margin-top: 56px;
}
.brand h2{
    padding: 55px 0px 12px 0px;
}
.brand h3{
    line-height: 42px;
    padding-bottom: 32px;
}
.brandImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 68px 0px 119px 0px;
}
.brandImg img{
    padding-bottom: 40px;
}
.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 56px;
}
.workImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 56px 0px 40px 0px;
}
.workImg li{
    padding-bottom: 48px;
}
.footer {
    color: #FFFFFF;
    background: #000000;
    margin-top: 56px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    padding: 64px 0px;
}
.contact h2,.mail{
    padding-bottom: 16px;
}
.footer a{
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
}
